<h1>Client List</h1>
<br><br>
<table class="center">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Court Date</th>
        <th>Case Description</th>
    </tr>
    <% @client.each do |client| %>
    <tr>
        <td><%= link_to client.Name, client_path(client) %></td>
        <td><%= link_to client.Address, client_path(client) %></td>
        <td><%= link_to client.Phone_Number, client_path(client) %></td>
        <td><%= link_to client.Email, client_path(client) %></td>
        <td><%= link_to client.Court_Date, client_path(client) %></td>
        <td><%= link_to client.Case_Description, client_path(client) %></td>
        
    </tr>
    <%end%>
    
</table>