<h1>Client List</h1>
<%= link_to'New Client', new_client_path%>
<br><br>
<table class="center">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Court Date</th>
        <th>Case Description</th>
    </tr>
    <% @client.each do |client| %>
    <tr>
        <td><%= link_to client.Name, client_path(client) %></td>
        <td><%= link_to client.Address, client_path(client) %></td>
        <td><%= link_to client.Phone_Number, client_path(client) %></td>
        <td><%= link_to client.Email, client_path(client) %></td>
        <td><%= link_to client.Court_Date, client_path(client) %></td>
        <td><%= link_to client.Case_Description, client_path(client) %></td>
        
    </tr>
    <%end%>
    
</table>
</div>





<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Tabs in a Grid</h2>

  <div class="w3-row">
    <a href="javascript:void(0)" onclick="opentab(event, 'Client');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Client</div>
    </a>
    <a href="javascript:void(0)" onclick="opentab(event, 'Bill');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Bill</div>
    </a>
  </div>

  <div id="Client" class="w3-container tab" style="display:none">
    <h2>Client</h2>
    <p>Client is the capital tab of England.</p>
  </div>

  <div id="Bill" class="w3-container tab" style="display:none">
    <h2>Bill</h2>
    <p>Bill is the capital of France.</p> 
  </div>
</div>

<script>
function opentab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-border-red";
}
</script>

</body>
</html>
    
   
    
    
</table>
