<h1>Client List</h1>

<div id="new_client">
<%= link_to'New Client', new_client_path%>
<br><br>
</div>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
<div class="w3-container">

  <div class="w3-row">
    <a href="javascript:void(0)" onclick="opentab(event, 'Client');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Client</div>
    </a>
    <a href="javascript:void(0)" onclick="opentab(event, 'Bill');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Bill</div>
    </a>
  </div>

  <div id="Client" class="w3-container tab" style="display:none">
    <table class="center">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Court Date</th>
        <th>Case Description</th>
      </tr>
    <% @client.each do |client| %>
      <tr>
        <td><%= link_to client.Name, client_path(client) %></td>
        <td><%= link_to client.Address, client_path(client) %></td>
        <td><%= link_to client.Phone_Number, client_path(client) %></td>
        <td><%= link_to client.Email, client_path(client) %></td>
        <td><%= link_to client.Court_Date, client_path(client) %></td>
        <td><%= link_to client.Case_Description, client_path(client) %></td>
        
      </tr>
    <%end%>
    </table>
  </div>

  <div id="Bill" class="w3-container tab" style="display:none">
    <p>Link to bill_path? Not sure how to implement this part.</p> 
  </div>
<script>
function opentab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-border-green", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-border-green";
}
</script>

</body>
</html>
    
   
    
    
</table>
