<p>
  <strong>Name:</strong>
  <%= @bill.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @bill.address %>
</p>
<p>
  <strong>Date:</strong>
  <%= @bill.date %>
</p>
<p>
  <strong>Description:</strong>
  <%= @bill.description %>
</p>
<p>
  <strong>Rate:</strong>
  <%= @bill.rate %>
</p>
<p>
  <strong>Hours:</strong>
  <%= @bill.hours %>
</p>